@model List<ParkRec.Models.Park>

<h1>All Parks</h1>


@if(Model.Count == 0)
{
    <p>No parks added yet!</p>
}
else
{
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Description</th>
        </tr>
        @foreach(Park park in Model)
        {
            <tr>
                <td><a asp-controller="Park" asp-action="Detail" asp-route-id="@park.Id">@park.Name</a></td>
                <td>@park.Location</td>
                <td>@park.Description<td>
            </tr>
        }
    </table>
}    
