@model ParkRec.ViewModels.ResultsViewModel


<div>
    <h3>Park Results</h3>
    @if (Model.ParkResults.Count >= 1)
    {
        <table class="table">
            <tr>
                <th>
                    Park Name
                </th>
                <th>
                    Location
                </th>
                <th>
                    Description
                </th>
            </tr>
            @foreach (Park park in Model.ParkResults)
            {
                <tr>
                    <td><a asp-controller="Park" asp-action="Detail" asp-route-id="@park.Id">@park.Name</a></td>
                    <td>@park.Location</td>
                    <td>@park.Description</td>
                </tr>
            }               
        </table>
    }
    else
    {
        <h5>No Results!</h5>
    }
    <a asp-controller="Search" asp-action="Index">Search Again</a>
</div>
