@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Find a National Park that's perfect for you!</h1>
    <p>Not a user? click <a id="register" asp-area="Identity" asp-page="/Account/Register">here</a> to sign up.</p>
    <a asp-area="" asp-controller="Park" asp-action="Index"><h3>View All Parks</h3></a>
</div>
<p>
    @ViewBag.userid
</p>
