@model List<ParkRec.Models.Park>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Find a National Park that's perfect for you!</h1>
    <p>Not a user? click <a id="register" asp-area="Identity" asp-page="/Account/Register">here</a> to sign up.</p>
    <a asp-area="" asp-controller="Park" asp-action="Index"><h3>View All Parks</h3></a>
</div>

@if(Model != null)
{
    <div>
        <h3>My Saved Parks</h3>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Description</th>
            </tr>
            @foreach(Park park in Model)
            {
                <tr>
                    <td><a asp-controller="Park" asp-action="Detail" asp-route-id="@park.Id">@park.Name</a></td>
                    <td>@park.Location</td>
                    <td>@park.Description<td>
                </tr>
            }
        </table>
    </div>
}


