@model List<ParkRec.Models.Park>
@{
    ViewData["Title"] = "Home Page";
}
<style>
body {
  background-image: url('https://www.nawpic.com/media/2020/mountain-nawpic-5.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

td {
    text-shadow: 1px 1px #FFFFFF
}
</style>
<body>
<div class="text-center">
    <h1 class="display-4">Find a National Park that's perfect for you!</h1>
    <p>Not a user? click <a id="register" asp-area="Identity" asp-page="/Account/Register">here</a> to sign up.</p>
    <a asp-area="" asp-controller="Park" asp-action="Index"><h3>View All Parks</h3></a>
</div>

@if(Model != null)
{
    <div>
        <h3>My Saved Parks</h3>
        @if(Model.Count == 0)
        {
            <p>No Saved Parks Yet!</p>
        }
        else
        {
            <table class="table">
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Description</th>
            </tr>
            @foreach(Park park in Model)
            {
                <tr>
                    <td><a asp-controller="Park" asp-action="Detail" asp-route-id="@park.Id">@park.Name</a></td>
                    <td>@park.Location</td>
                    <td>@park.Description<td>
                </tr>
            }
        </table>
        <a asp-area="" asp-controller="SavePark" asp-action="Delete">Delete park</a>
        }
        
    </div>
}
</body>


